<h1><%= @user.name %></h1><br>

<% if @user.goals.empty? %>
  <h1>You have no goals right now. <a href="<%= new_goal_path %>">Start making goals!</a></h1>
<% else %>
  <% @user.goals.each do |goal| %>
    <%= goal.name %>
  <% end %>
<% end %>