<html>
  <header>
    
  </header>
  <body>
    <h1>Editing saving</h1>

    <%= render "form" %>

    <%= link_to 'Show', [@saving.goal, @saving] %> |
    <%= link_to 'Back', goal_savings_path(@saving.goal) %>
  </body>
</html>